* {
  list-style-type: none; }

ul, li {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: 'Georgia', sans-serif;
  font-size: 13px;
  margin: 0 auto;
  color: #000;
  background-color: #4f92b4; }

.container {
  padding-left: 0;
  padding-right: 0; }

.row {
  margin-right: 0;
  margin-left: 0;
  background-color: #fff; }
  .row > [class^="col-"],
  .row > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0; }

header .navbar {
  padding-left: 0;
  padding-right: 0;
  background-color: #000; }
  header .navbar .navbar-brand {
    margin: 0 auto; }
    header .navbar .navbar-brand a {
      text-transform: uppercase;
      text-align: center; }
      header .navbar .navbar-brand a img {
        max-width: 100%; }
  header .navbar .navbar-toggler {
    margin: 5% auto;
    background-color: #fff;
    cursor: pointer; }
  header .navbar .form-inline {
    display: none; }
  header .navbar .navbar-nav {
    align-items: center; }
    header .navbar .navbar-nav .nav-link {
      color: #fff !important;
      font-size: .75rem;
      transition: background-color .5s;
      text-transform: uppercase;
      width: 100%; }
      header .navbar .navbar-nav .nav-link:hover {
        background-color: #4f92b4; }

.header_lower_bar {
  background-color: #000;
  padding: 5% 4%; }
  .header_lower_bar p {
    color: #d8d6d6;
    font-size: 1.25rem;
    text-align: center; }
  .header_lower_bar .header_social {
    text-align: center; }
    .header_lower_bar .header_social li {
      display: inline-block;
      padding: 1% 1%;
      margin: 3% 0; }

article {
  background-color: #fff;
  padding-bottom: 10%;
  padding-top: 10%; }
  article .media {
    box-sizing: content-box;
    border-bottom: 1px solid #f6f6f6;
    flex-direction: column;
    align-items: center; }
    article .media .mr-3 {
      margin: 0 0 5% 0;
      box-shadow: 0 0 0 4px #d8d6d6, 0 0 0 5px #ffffff, 0 0 0 7px #d8d6d6; }
  article .media-body {
    padding-bottom: 5%; }
    article .media-body h3 {
      font-size: 1.25rem;
      padding: 4% 0 4% 4%;
      text-align: left; }
    article .media-body p {
      padding: 0 4%;
      text-align: justify; }
    article .media-body span {
      padding-bottom: 3%;
      display: block; }
  article .btn-primary {
    background-color: #4f92b4;
    margin-bottom: 5%;
    border-color: rgba(111, 110, 110, 0.5); }
  article .btn {
    display: block;
    margin: 0 auto;
    line-height: 0.75;
    width: 9rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer; }

.pagination_box {
  display: flex;
  margin-bottom: 5%; }
  .pagination_box .page-item {
    margin-left: 10px; }
  .pagination_box .page-link {
    background-color: #eeeeee;
    color: #c1c1c1;
    line-height: 1; }
  .pagination_box .page-link-active {
    background-color: #c1c1c1;
    color: #eeeeee; }

.side_bar {
  background-color: #f1f1f1;
  height: 100%; }
  .side_bar div {
    padding: 7% 7%; }
    .side_bar div h2 {
      font-size: 1.25rem;
      padding: 2% 0 8% 0; }
    .side_bar div p {
      padding-bottom: 1%; }

.sponsors {
  background-color: #fff;
  padding-top: 3%;
  padding-bottom: 3%; }
  .sponsors h2 {
    font-size: 1.25rem;
    padding: 3%; }
  .sponsors ul {
    text-align: center; }
    .sponsors ul li {
      display: inline-block;
      width: 45%;
      margin: 1%;
      text-align: center;
      box-shadow: 0 0 0 4px #f6f6f6, 0 0 0 2px #fff, 0 0 0 2px #f6f6f6; }
      .sponsors ul li img {
        width: 100%; }

footer {
  color: #6f6e6e;
  text-align: center;
  padding-bottom: 4%;
  height: 100%; }
  footer .row {
    background-color: #000; }
  footer .about, footer .stream, footer .contact {
    height: 100%;
    padding: 5%; }
  footer h2 {
    color: #fff;
    font-size: 1.25rem;
    padding-bottom: 4%;
    text-align: left; }
  footer p {
    text-align: justify; }
  footer span {
    color: #a3a3a3;
    display: block;
    width: 100%;
    font-weight: bold; }
  footer .about span {
    padding: 5% 0; }
  footer .stream {
    height: 100%; }
    footer .stream li {
      display: inline-block;
      width: 30%;
      margin: 1% 0.1%;
      text-align: center;
      box-sizing: border-box;
      border: 1px solid rgba(173, 169, 169, 0.3); }
      footer .stream li img {
        width: 100%; }
  footer .contact {
    text-align: left;
    margin-bottom: 5%; }
    footer .contact .contact_data li {
      padding: 1% 0; }
    footer .contact .contact_data a {
      text-decoration: none;
      color: #6f6e6e; }
    footer .contact .contact_social {
      padding-top: 3%; }
      footer .contact .contact_social li {
        display: inline-block;
        float: left;
        width: 16%;
        margin: 0 2%; }
      footer .contact .contact_social li:first-of-type {
        margin-left: 0; }

@media (min-width: 768px) {
  article {
    padding-bottom: 5%;
    padding-top: 5%; }
    article .btn {
      margin: 0 auto 0 3%; }
    article .media {
      flex-direction: row;
      padding-left: 5%; }
  .sponsors ul li {
    width: 30%; }
  footer .stream li {
    width: 31%; } }

@media (min-width: 992px) {
  header .navbar {
    flex-direction: row; }
    header .navbar .navbar-brand {
      margin-left: 3%; }
    header .navbar .navbar-toggler {
      display: none; }
    header .navbar .collapse {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-right: 3%;
      width: 100%; }
    header .navbar .navbar-nav {
      width: 100%;
      display: inline-block;
      text-align: right; }
      header .navbar .navbar-nav li {
        display: inline-block;
        padding-left: 2%; }
    header .navbar .form-inline {
      display: block;
      margin-left: auto; }
      header .navbar .form-inline .form-control {
        background-image: url("../img/search-icon.svg");
        background-repeat: no-repeat;
        background-position: 10px center;
        background-size: 10px;
        border-radius: 20px;
        text-align: center;
        width: 150px;
        height: 22px;
        font-size: .75rem; }
  .header_lower_bar p {
    font-size: 1.6rem; }
  .pagination_box {
    display: block; }
  .sponsors ul li {
    width: 14%; } }
