@import 'settings';

* {
  list-style-type: none;
}

ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Georgia', sans-serif;
  font-size: 13px;
  margin: 0 auto;
  color: #000;
  background-color: #4f92b4;

}

.container {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

header {
  .navbar {
    padding-left: 0;
    padding-right: 0;
    background-color: #000;

    .navbar-brand {
      margin: 0 auto;
      a {
        text-transform: uppercase;
        text-align: center;
        img {
          max-width: 100%;
        }
      }
    }

    .navbar-toggler {
      margin: 5% auto;
      background-color: #fff;
      cursor: pointer;
    }
    .form-inline {
      display: none;
    }
    .navbar-nav {
      align-items: center;

      .nav-link {
        color: #fff !important;
        font-size: .75rem;
        transition: background-color .5s;
        text-transform: uppercase;
        width: 100%;

        &:hover {
          background-color: #4f92b4;
        }
      }
    }
  }
}

.header_lower_bar {
  background-color: #000;
  padding: 5% 4%;
  p {
    color: #d8d6d6;
    font-size: 1.25rem;
    text-align: center;
  }
  .header_social {
    text-align: center;
    li {
      display: inline-block;
      padding: 1% 1%;
      margin: 3% 0;
    }
  }
}

article {
  background-color: #fff;
  padding-bottom: 10%;
  padding-top: 10%;
  .media {
    box-sizing: content-box;
    border-bottom: 1px solid #f6f6f6;
    flex-direction: column;
    align-items: center;

    .mr-3 {
      margin: 0 0 5% 0;
      box-shadow: 0 0 0 4px #d8d6d6, 0 0 0 5px #ffffff, 0 0 0 7px #d8d6d6
    }
  }
  .media-body {
    padding-bottom: 5%;
    h3 {
      font-size: 1.25rem;
      padding: 4% 0 4% 4%;
      text-align: left;
    }
    p {
      padding: 0 4%;
      text-align: justify;
    }

    span {
      padding-bottom: 3%;
      display: block;
    }
  }
  .btn-primary {
    background-color: #4f92b4;
    margin-bottom: 5%;
    border-color: rgba(111, 110, 110, .5);
  }

  .btn {
    display: block;
    margin: 0 auto;
    line-height: 0.75;
    width: 9rem;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    cursor: pointer;
  }
}

.pagination_box {
  display: flex;
  margin-bottom: 5%;

  .page-item {
    margin-left: 10px;
  }
  .page-link {
    background-color: #eeeeee;
    color: #c1c1c1;
    line-height: 1;

  }
  .page-link-active {
    background-color: #c1c1c1;
    color: #eeeeee;
  }
}

.side_bar {
  background-color: #f1f1f1;
  height: 100%;
  div {
    padding: 7% 7%;
    h2 {
      font-size: 1.25rem;
      padding: 2% 0 8% 0;
    }
    p {
      padding-bottom: 1%;
    }
  }
}

.sponsors {
  background-color: #fff;
  padding-top: 3%;
  padding-bottom: 3%;
  h2 {
    font-size: 1.25rem;
    padding: 3%;
  }
  ul {
    text-align: center;

    li {
      display: inline-block;
      width: 45%;
      margin: 1%;
      text-align: center;
      box-shadow: 0 0 0 4px #f6f6f6,
      0 0 0 2px #fff,
      0 0 0 2px #f6f6f6;
      img {
        width: 100%;
      }
    }
  }
}

footer {
  .row {
    background-color: #000;
  }
  color: #6f6e6e;
  text-align: center;
  padding-bottom: 4%;
  height: 100%;

  .about, .stream, .contact {
    height: 100%;
    padding: 5%;

  }
  h2 {
    color: #fff;
    font-size: 1.25rem;
    padding-bottom: 4%;
    text-align: left;
  }
  p {
    text-align: justify;
  }
  span {
    color: #a3a3a3;
    display: block;
    width: 100%;
    font-weight: bold;
  }

  .about {
    span {
      padding: 5% 0;
    }
  }
  .stream {
    height: 100%;
    li {
      display: inline-block;
      width: 30%;
      margin: 1% 0.1%;
      text-align: center;
      box-sizing: border-box;
      border: 1px solid rgba(173, 169, 169, .3);

      img {
        width: 100%;
      }
    }
  }

  .contact {
    text-align: left;
    margin-bottom: 5%;
    .contact_data {
      li {
        padding: 1% 0;
      }
      a {
        text-decoration: none;
        color: #6f6e6e;
      }
    }
    .contact_social {
      padding-top: 3%;
      li {
        display: inline-block;
        float: left;
        width: 16%;
        margin: 0 2%;
      }
      li:first-of-type {
        margin-left: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  article {
    padding-bottom: 5%;
    padding-top: 5%;
    .btn {
      margin: 0 auto 0 3%;

    }
    .media {
      flex-direction: row;
      padding-left: 5%;
    }
  }
  .sponsors {
    ul {
      li {
        width: 30%;
      }
    }
  }
  footer {
    .stream {
      li {
        width: 31%;
      }
    }
  }
}

@media (min-width: 992px) {
  header {
    .navbar {
      flex-direction: row;
      .navbar-brand {
        margin-left: 3%;
      }
      .navbar-toggler {
        display: none;
      }
      .collapse {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 3%;
        width: 100%;
      }
      .navbar-nav {
        width: 100%;
        display: inline-block;
        text-align: right;

        li {
          display: inline-block;
          padding-left: 2%;

        }
      }
      .form-inline {
        display: block;
        margin-left: auto;

        .form-control {
          background-image: url('../img/search-icon.svg');
          background-repeat: no-repeat;
          background-position: 10px center;
          background-size: 10px;
          border-radius: 20px;
          text-align: center;
          width: 150px;
          height: 22px;
          font-size: .75rem;
        }
      }
    }
  }
  .header_lower_bar p {
    font-size: 1.6rem;

  }
  .pagination_box {
    display: block;
  }
  .sponsors {
    ul {
      li {
        width: 14%;
      }
    }
  }
}
